
 <ul class="process content">


    <li class="process-item-background" onclick="toggle()">
      <div class="title-project">
        <div class="title-project">
          <span class="process-big-title-background">As a constant learner</span>
          <span class="process-subtitle-background">📍 Brighton, UK | Raleigh, US | Paris, FR | Oslo, NW</span>
        </div>
      </div>
      <div class="block-process-background">
        <span class="process-title-background">Certificates</span>
        <br>
        <span class="process-subtitle-background">Le Wagon Bootcamp - Full Stack Developer</span>
        <br>
        <span class="process-subtitle-background">Wine & Spirit Education Trust - Level 3</span>
        <br>
        <span class="process-subtitle-background">Master of Science in Corporate Finance</span>
      </div>
    </li>

    <li class="process-item-background" onclick="toggle2()">
      <div class="title-project-background">
        <div class="title-project-background">
          <span class="process-big-title-background">As a working professional</span>
          <span class="process-subtitle-background">📍 Brignoles, FR | Singapore | Nantes, FR | Barcelona, SP</span>
        </div>
      </div>
      <div class="block-process-background">
        <span class="process-title-background">Experiences</span>
        <br>
        <span class="process-subtitle-background">Teacher Assistant @Le Wagon</span>
        <br>
        <span class="process-subtitle-background">Senior Sales Manager @Hock Tong Bee</span>
        <br>
        <span class="process-subtitle-background">Business Developer @The French Cellar</span>
        <br>
        <span class="process-subtitle-background">Brand Ambassador @Chateau Fontainebleau du Var</span>
      </div>
    </li>

</ul>

<script type="text/javascript">
  function toggle(){
    var popup = document.getElementById('popup');
    popup.classList.toggle('active');

    var blur = document.getElementById('blur');
    blur.classList.toggle('active');
  }

    function toggle2(){
    var popup = document.getElementById('popup2');
    popup.classList.toggle('active');

    var blur = document.getElementById('blur');
    blur.classList.toggle('active');
  }
</script>
