 <ul class="process">

    <li class="process-item-background">
      <div class="title-project open-button" onclick="openbox()">
        <div class="title-project">
          <span class="process-big-title-background">As a constant learner</span>
          <span class="process-subtitle-background">📍 Brighton, UK | Raleigh, US | Paris, FR | Oslo, NW</span>
        </div>
      </div>
      <div class="block-process-background">
        <span class="process-title-background">Certificates</span>
        <br>
        <span class="process-subtitle-background">Le Wagon Bootcamp - Full Stack Developer</span>
        <br>
        <span class="process-subtitle-background">Wine & Spirit Education Trust - Level 3</span>
        <br>
        <span class="process-subtitle-background">Master of Science in Corporate Finance</span>
      </div>
    </li>

    <div class="popup">
      <p>kasjdfhdlsqkhfalkdhfqahklfdqahklfdsqlkhfqdslkhfdqlkhfqsdlkhfdsqlkhfdqslkhfdsqkhf</p>
      <button type="button" class="close-button" onclick="closebox()">Close</button>
    </div>

    <li class="process-item-background">
      <div class="title-project-background">
        <div class="title-project-background">
          <span class="process-big-title-background">As a working professional</span>
          <span class="process-subtitle-background">📍 Brignoles, FR | Singapore | Nantes, FR | Barcelona, SP</span>
        </div>
      </div>
      <div class="block-process-background">
        <span class="process-title-background">Experiences</span>
        <br>
        <span class="process-subtitle-background">Teacher Assistant @Le Wagon</span>
        <br>
        <span class="process-subtitle-background">Senior Sales Manager @Hock Tong Bee</span>
        <br>
        <span class="process-subtitle-background">Business Developer @The French Cellar</span>
        <br>
        <span class="process-subtitle-background">Brand Ambassador @Chateau Fontainebleau du Var</span>
      </div>
    </li>

</ul>
