 <ul class="process">

    <li class="process-item">
      <div class="title-project">
        <span class="process-big-title">WineMeUp</span>
      </div>
      <div class="block-process">
          <div class="description">
            <span class="process-subtitle">Wagon bootcamp final project: we developped in 10 days a MeetUp based platform with one motto, share pleasant moments around wine</span>
          </div>

          <div class="photo-process">
            <%# <%= image_tag("winemeup") %>
          </div>

          <span class="process-title description">Tools and Technologies used</span>
          <div class="tools">
            <span class="process-subtitle">Ruby on Rails |</span>
            <span class="process-subtitle">Mapbox |</span>
            <span class="process-subtitle">Devise |</span>
            <span class="process-subtitle">Cloudinary |</span>
            <span class="process-subtitle">Websocket & Action</span>
          </div>
      </div>
    </li>

    <li class="process-item">
      <div class="title-project">
        <span class="process-big-title">WineMeUp</span>
      </div>
      <div class="block-process">
          <div class="description">
            <span class="process-subtitle">One day one of my clients was complaining about its poorly managed wine cellar. So I decided to develop an App to help and assist wine afficionados to manage their wines</span>
          </div>

          <div class="photo">
            <%# <%= image_tag("winemeup.png") %>
          </div>

          <span class="process-title description">Tools and Technologies used</span>
          <div class="tools">
            <span class="process-subtitle">Ruby on Rails |</span>
            <span class="process-subtitle">Devise |</span>
            <span class="process-subtitle">Mailgun |</span>
            <span class="process-subtitle">Cloudinary |</span>
            <span class="process-subtitle">Javascript / Stimulus</span>
          </div>
      </div>
    </li>

</ul>
