<div class="scroll-progress fixed-top" id="scroll-progress"></div>

<nav class="navbar-scroll">
  <ul>
    <li>
      <a href="#overview" class="dot active" data-scroll="overview">
      <span>Overview</span>
      </a>
    </li>

    <li>
      <a href="#projects" class="dot" data-scroll="projects">
      <span>Projects</span>
      </a>
    </li>

    <li>
      <a href="#background" class="dot" data-scroll="background">
      <span>Background</span>
      </a>
    </li>

    <li>
      <a href="#contact" class="dot" data-scroll="contact">
      <span>Contact me</span>
      </a>
    </li>
  </ul>
</nav>

<%# POPUP FOR BACKGROUND  %>
<div id="popup">
  <div class="text">
    <p>Curious, I’ve always seen my career as an ongoing learning process. After studying Finance in the US and the UK, I wanted to do business selling wine. My financial background has helped me better plan business strategy in a fast-paced environment. However, I wanted to get technical so I took sommelier certifications. The last few years have fastened the way companies do business with a mass adoption of new technologies. This fact, combined with more than 4 years as a Senior Sales Manager pushed me to my next move. Yes, everything was wrapped up, so I decided to undertake the Wagon bootcamp to become a part of a digital project. </p>
  </div>
  <div class="button">
    <a href="#background" onclick="toggle()">Close</a>
  </div>
</div>

<div id="popup2">
  <div class="text">
    <p></p>
  </div>
  <div class="button">
    <a href="#background" onclick="toggle()">Close</a>
  </div>
</div>

<div id="blur">
  <section class="sec" id="overview">
    <div class="container section-one">
      <div class="leftbox">
        <h1 class="title1">maxime</h1>
        <h2 class="title2">Junior fullstack web developer</h2>
        <br>
        <br>
        <div class="text1">
          <p>
          🕹️ Currently Teacher Assistant <a target="_blank" href="https://www.lewagon.com/web-development-course">@Le Wagon</a>, Nantes
          : a 9-week full-time intensive coding bootcamp. I will be teaching in Barcelona from 5 to 27 November.
          </p>

          <p>
          🎯 My objective is to develop my proficiencies towards the React framework and building up my Ruby on Rails among a team of devoted tech afficionados
          </p>

          <%# JAVASCRIPT %>
          <%# EXAMPLE2 of TYPE.JS -> For function check Javacript/custom/type.js %>
          <div class="text-typed">
            <p class="typed">🙋🏽‍♂️ <span id="typed"></span> <br> In 2022, I decided to move forward and quit my job as a Senior Sales Manager in Singapore to become a Web Developer. To know more, I invite you to check my projects and background out</p>
          </div>

        </div>
      </div>

      <div class="rightbox">
      <%= image_tag('photo_website.png') %>
      </div>
    </div>
  </section>

  <section class="sec" id="projects">
    <div class="container section-three">
      <h1 class="title3">My digital projects</h1>
      <%= render 'projects' %>
    </div>
  </section>

  <section class="sec" id="background">
    <div class="container section-two">
      <h1 class="title3">My story</h1>
      <div class="block-background">
        <%= render 'background' %>
      </div>
    </div>
  </section>

  <section class="sec" id="contact">
    <div class="container section-four">
      <div class="leftbox">
        <div class="media">
          <a href="https://www.linkedin.com/in/gueyemaxime/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="https://github.com/MaxGueyeMax" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:gueye.maxime@outlook.com?subject=Hello%20from%20Max%20portfolio%20" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </div>
      </div>

      <div class="break"></div>

      <div class="rightbox">
        <%= render 'contact_form' %>
      </div>
    </div>
  </section>
</div>
