/* Section 1 */

#overview {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  .section-one {
    display: flex;

    .leftbox {
      width: 50%;
    }

    .rightbox {
      width: 50%;
      background: blue;
    }
  }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
@media screen and (max-width: 780px){
  #overview {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    .section-one {
      display: flex;
      flex-direction: column-reverse;
      padding: 0px 48px 0px 48px;

      .leftbox {
        width: 100%;

        .title1 {
          font-size: 90px;
        }
      }

      .rightbox {
        width: 100%;
        background: blue;
      }
    }
  }
}


/* Section 2 */

#background {
  height: auto;
  width: 100%;

  .section-two {
    display: flex;

    .leftbox {
      background: yellow;
      height: 60vh;
      flex-grow: 1;
    }

    .rightbox {
      background: green;
      height: 60vh;
      flex-grow: 3;
    }
  }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
@media screen and (max-width: 780px){
  #background {
    height: auto;
    width: 100%;

    .section-two {
      display: flex;

      .leftbox {
        background: yellow;
        height: 60vh;
        flex-grow: 3;
      }

      .rightbox {
        background: green;
        height: 60vh;
        flex-grow: 7;
      }
    }
  }
}


/* Section 3 */

#projects {
  height: auto;
  width: 100%;

  .section-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .experience {
      background: purple;
      width: 35%;
      height: 60vh;
      margin: 20px 0px 20px 0px;
    }
  }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
@media screen and (max-width: 780px){
  #projects {
    height: auto;
    width: 100%;

    .section-three {
      display: flex;

      .experience {
        background: purple;
        width: 80%;
        height: 60vh;
        margin: 20px 0px 20px 0px;
      }
    }
  }
}

/* Section 4 */

#contact {
  height: auto;
  width: 100%;

  .section-four {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    .leftbox {
      height: auto;
      flex-grow: 1;
      display: flex;
    }

    .break {
      height: auto;
      width: 0.3px;
      background: $primary-color;
      border-radius: 50px;
    }

    .rightbox {
      height: 70vh;
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
@media screen and (max-width: 780px){
  #contact {
    height: auto;
    width: 100%;

    .section-four {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;

      .leftbox {
        width: 100%;
        height: auto;
        display: flex;
      }

      .break {
        height: 0.3px;
        width: 40%;
        background: $primary-color;
        border-radius: 50px;
      }

      .rightbox {
        display: flex;
        width: 80%;
        flex-grow: 1;
        height: 70vh;
      }
    }
  }
}
